/* Basic Style */

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.inf {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.inf__img {
  width: 100%;
}

.inf__more-inf {
  font-family: fantasy, cursive;
}

.app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.app__task-font {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
}

.app__new-task__task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

@media (max-width: 768px) {

  .inf {
    text-align: center;
  }
  
}

/* Heading */

.app__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.app__task-text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.app__task-text-input:focus {
  color: #333;
}

/* New Task */

.app__new-task__label {
  display: block;
  margin: 0 0 20px;
}
#app__new-task {
  width: 318px;
}

/* Task list */

.app__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__task>
* {
  vertical-align: middle;
}

.app__task__task-checker {
  margin: 0 10px;
}

.app__task>
.app__task-font {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.app__task>
.app__task-text-input {
  width: 226px;
}

.app__task__delete-task-arrow {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.app__task__delete-task-arrow:hover {
  transform: rotateZ(0);
}

/* Completed */

#app__completed-task 
.app__task__task-completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.app__task 
.app__task-text-input {
  display: none;
}

.app__task_edit-mode 
.app__task-text-input {
  display: inline-block;
  width: 224px;
}

.app__task_edit-mode 
.app__task__label {
  display: none;
}
